<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">

<listeners>
<listener class-name="TestNG.Listeners"/>
</listeners>

  <test thread-count="5" name="Test" parallel="classes">
    <classes>
      <class name="TestNG.day1"/>
      <class name ="TestNG.day2"/>
      <class name="TestNG.day4">
      <methods>
      <include name="LoginAPIHomeLoan"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
  <test name = "Car Loan">
  <classes>
  <class name="TestNG.day3">
  <methods>
  <exclude name="Mobile.*" />
  </methods>
  </class>  
  </classes>
  
  </test>
</suite> <!-- Suite -->
